tbody tr:hover {
  cursor: pointer;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

form#gastos, form#eliminar {
  display: inline;
}

form#eliminar {
  margin-left: 7px;
}

/* .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current { */
/*   background: #428bca; */
/* } */

/* .xdsoft_datetimepicker .xdsoft_time_box > div > div.xdsoft_disabled { */
/*   display: none; */
/* } */

/* .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover { */
/*   background: #428bca; */
/* } */

/* .xdsoft_scrollbar { */
/*   display: none; */
/* } */
